@media (max-width: 767px) { /*Para monitores xs*/
	button {font-size: 14px !important; padding: 10px 20px 10px 20px;}
	.inicio p {font-size: 40px;}
	.about h3 {margin-left: 45px; padding-top: 80px;} 
	.about h4 {margin-left: 45px; margin-top: 5px;}
	.about p {font-size: 11px; margin-bottom: 5px;}
	.text {width: 300px; margin-left: 45px;}
	.serviciosA h4 {max-width: 300px; margin: auto; margin-top: 10px; font-size: 16px;}
	.serviciosB {min-height: 800px;}
	.icon {margin-top: 50px;}
	.teamnotes h2 {font-size: 40px; margin-left: 45px; padding-top: 130px;}
	.teamnotes h4 {margin-left: 45px;}
	.teamnotes p {font-size: 11px; margin-bottom: 5px;}
	.buttonteamnotes {margin-left: 43px; margin-top: 10px; padding: 5px 10px 5px 10px;}
	.slogan {height: 200px; position: relative; margin-top: 30px;}
	.slogantext {padding-top:15px; font-size: 16px!important; width: 300px; margin-left: 45px;}
	.contact h3 {padding-top: 0;}
	.contact h4 {max-width: 300px; margin: auto; margin-top: 10px; font-size: 16px;}
	.cv p {font-size: 18px; margin-top: 50px; margin-bottom: 10px;}
	.cv {height: 200px; bottom: calc(15% + 50px);}
	.contact2 {bottom: 15%; height: 30%;}
	.triangle-map {bottom: calc(45% - 8.9vh)!important;}
}