@media (max-width: 767px) { /*Para monitores xs*/
	button {font-size: 14px !important; padding: 10px 20px 10px 20px;}
	.logo {width: 125px; margin-left: 20px; margin-top: 4px;}
	.inicio p {font-size: 35px;}
	.about h3 {margin-left: 10%; padding-top: 40px;} 
	.about h4 {margin-left: 10%; margin-top: 5px;}
	.about p {font-size: 11px; margin-bottom: 5px;}
	.text {width: 80%; margin: auto; text-align: left;}
	.serviciosA h4 {max-width: 80%; margin: auto; margin-top: 10px; font-size: 14px; line-height: 18px;}
	.serviciosB {min-height: 800px;}
	.icon {margin-top: 50px;}
	.teamnotes h2 {font-size: 40px; margin-left: 10%; padding-top: 80px;}
	.teamnotes h4 {margin-left: 10%;}
	.teamnotes p {font-size: 11px; margin-bottom: 5px;}
	.buttonteamnotes {margin-left: 9%; margin-top: 10px; padding: 5px 10px 5px 10px;}
	.slogan {height: 200px; position: relative; margin-top: 30px;}
	.slogantext {padding-top:15px; font-size: 16px!important; width: 80%; margin: auto;}
	.contact h3 {padding-top: 0;}
	.contact h4 {max-width: 80%; margin: auto; margin-top: 10px; font-size: 14px; line-height: 18px}
	.cv p {font-size: 18px; margin-top: 50px; margin-bottom: 10px;}
	.cv {height: 200px; bottom: calc(12% + 50px); margin-bottom: 20px;}
	.contact2 {bottom: 15%; height: 30%;}
	.row {margin: 0px!important}
	.triangle-map {bottom: calc(45% - 8.9vh)!important;}
}